flask
flask-login
flask-sqlalchemy
flask-bcrypt
flask
flask-login
flask-sqlalchemy
flask-bcrypt
flask-wtf
pymysql
email-validator
authlib
requests
beautifulsoup4
gunicorn
whitenoise
python-json-logger
flask-talisman
Flask-Limiter
pytest
pytest-flask
pytest-cov
Flask-Caching
redis
sentry-sdk
filelock
